/* mqo-featured */
.mqo-featured{
    padding: 20px 0;
}
.mqo-featured > div > div{
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}
.mqo-featured > div:hover > div{
	margin-top: -10px;
    margin-bottom: 10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(230, 230, 230, 0.1);
	transition: 0.5s;
}

.mqo-btn-block {
	width: 100%;
}

.mqo-pt16 {
	padding-top:16px;
}

.mqo-pt32 {
	padding-top:32px;
}

.mqo-pb16 {
	padding-bottom:16px;
}

.mqo-pb32 {
	padding-bottom:32px;
}

.mqo-pb32 {
	padding-bottom:32px;
}

.mqo-btn-lrg {
	padding: 24px 50px;
}


.mqo-btn-wrap {
	white-space: normal;
	word-wrap: break-word;
}


.mqo-btn {
	white-space: normal;
	word-wrap: break-word;
	border: 0px solid #ccc;
	border-radius: 16px;
	box-shadow: 
		0px -1px 3px rgba(255,255,255,0.5), /*top external highlight*/
		2px 2px 6px rgba(0,0,0,0.5), /*bottom external shadow*/
		inset 0px 2px 4px rgba(255,255,255,0.5), /*top internal highlight*/
		inset 0px -2px 4px rgba(0,0,0,0.4); /*bottom internal shadow*/
	transition: all 0.3s ease-in-out;
}

.mqo-btn:hover {
	box-shadow: 
		0px -1px 3px rgba(255,255,255,0.5), /*top external highlight*/
		2px 2px 6px rgba(255,255,255,0.5), /*bottom external highlight*/
		inset 2px 3px 4px rgba(0,0,0,0.2), /*top internal shadow*/
		inset 0px -2px 4px rgba(255,255,255,0.5); /*bottom internal highlight*/
}

.mqo-junction-box {
	border: 0px solid #ccc;
	border-radius: 16px;
	box-shadow:
		0px -1px 3px rgba(255,255,255,0.5), /*top external highlight*/
		2px 2px 6px rgba(0,0,0,0.5), /*bottom external shadow*/
		inset 0px 2px 4px rgba(255,255,255,0.5), /*top internal highlight*/
		inset 0px -2px 4px rgba(0,0,0,0.4); /*bottom internal shadow*/
	transition: all 0.3s ease-in-out;
}

.mqo-junction-box:hover {
	background-color: #f5fcf2;
	box-shadow:
		0px -1px 3px rgba(255,255,255,0.5), /*top external highlight*/ 
		2px 2px 6px rgba(255,255,255,0.5), /*bottom external highlight*/
		inset 2px 3px 4px rgba(0,0,0,0.2), /*top internal shadow*/
		inset 0px -2px 4px rgba(255,255,255,0.5); /*bottom internal highlight*/
}

